bin/
*.iml
.jks/
.metadata
/.idea/
*.lst
/green-api-baseline/target/
/green-api-baseline/target/classes/
/green-api-baseline/target/generated-sources/
/green-api-baseline/target/maven-archiver/
/green-api-baseline/target/maven-status/
/green-api-baseline/target/green-api-baseline-0.0.1-SNAPSHOT.jar
/green-api-optimized/target/
/green-api-optimized/target/classes/
/green-api-optimized/target/generated-sources/
/green-api-optimized/target/maven-archiver/
/green-api-optimized/target/maven-status/
/green-api-optimized/target/green-api-optimized-0.0.1-SNAPSHOT.jar
